
body{
    background-color:crimson;
    
}
h1{
    color:skyblue;
    position:absolute;
    left:1030px;
    font-family: 'Bakbak One', cursive;
    left:1050px;
}

#topContainer{
    color: crimson;
    font-size: 50px;
    display: flex;
    background-color: black;
    width: 2505px;
    height:50px;
    position: absolute;
    left: -5px;
    flex-wrap: wrap;
    font-family: 'Bakbak One', cursive;
    padding: 30px;
    top: -5px;
}

h2{
    position:absolute;
    color:lightblue;
    font-family: 'Bakbak One', cursive;
    position:absolute;
    top:200px;
    left:1005px;
    background-color:crimson;
    padding:20px;
    border-radius:10px;

}

#container{
    width:800px;
    height:800px;
    background-color:black;
    border-radius:20px;
    position:absolute;
    left:795px;
    top:200px;
    display:flex;
    text-align:space-between;
    justify-content:center;
}

#about{
  background-color: crimson;
  padding: 10px;
  font-family: 'Bakbak One', cursive;
  font-size: 18px;
  color: lightblue;
  border-radius: 20px;
  border-style: solid;
  border-color: crimson;
  position: absolute;
  top: 35px;
  left: 2150px;
}

#return{

    font-family: 'Bakbak One', cursive;
    background-color: crimson;
    padding: 10px;
    font-size: 18px;
    color: lightblue;
    border-radius: 20px;
    border-style: solid;
    border-color: crimson;
    position: absolute;
    top: 35px;
    left: 1950px;
}

#links{
    font-size:50px;
    color:black;
    position:absolute;
    left:200px;
}