body {
  background-color: teal;
}
h1 {
  color: aliceblue;
  position: relative;
  left: 81vh;
  bottom: vh;
  font-family: "Bakbak One", cursive;
}

#topContainer {
  display: grid;
  grid-template-columns: 500px 300px 200px;
  grid-template-rows: 0px 0px 100px;
  color: aliceblue;
  position: relative;
  right: 0.8vh;
  bottom: 0.8vh;
  width: 200vh;
  padding: 20px;
  background-color: coral;
  font-family: "Oswald", sans-serif;
}

#about {
  background-color: royalblue;
  padding: 10px;
  font-family: "Bakbak One", cursive;
  font-size: 18px;
  color: aliceblue;
  border-radius: 20px;
  border-style: solid;
  border-color: royalblue;
  position: absolute;
  top: 4vh;
  left: 170vh;
}

#about:hover{
    background-color:darkblue;
    border-color:darkblue;
}

#back {
    background-color: royalblue;
    padding: 10px;
    font-family: "Bakbak One", cursive;
    font-size: 18px;
    color: aliceblue;
    border-radius: 20px;
    border-style: solid;
    border-color: royalblue;
    position: absolute;
    top: 4vh;
    left: 155vh;
}

#back:hover{
    background-color:darkblue;
    border-color:darkblue;
}

#secondBlogContainer {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px;
  grid-template-rows: 150px 100px 100px 100px 100px;
  color: aliceblue;
  font-family: "Bakbak One", cursive;
}

#secondTitle {
  position: relative;
  color: aliceblue;
  font-family: "Bakbak One", cursive;
  left: 80vh;
  width: 28vh;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: coral;
  padding: 15px;
  border-radius: 10px;
}

#secondBlogOne {
  grid-column: 1/7;
  font-size: 1.5em;
  padding: 20px;
}

#secondBlogTwo {
  grid-column: 1/7;
  grid-row: 6/7;
  padding: 20px;
  font-size: 1.5em;
}

#success {
    height:450px;
    position:relative;
    top:48vh;
    left:70vh;
}

#firstBlogTitle {
  position: relative;
  color: aliceblue;
  font-family: "Bakbak One", cursive;
  top: 11vh;
  left: 76vh;
  width: 28vh;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: coral;
  padding: 20px;
  border-radius: 10px;
}

#firstBlogContainer {
  border-radius: 20px;
  position: relative;
  top: 40vh;
  display: grid;
  padding: 20px;
  height: 1000vh;
  grid-template-rows: 150px 0px 200px 150px 150px 200px 350px 100px 100px 100px 700px;
  grid-template-columns: 150px 50px 150px 400px;
  text-align: space-between;
  justify-content: center;
}

.firstBlog {
  font-size: 20px;
  color: white;
  font-family: "Bakbak One", cursive;
  position: relative;
  top: 10vh;
}

#firstBlogOne {
  grid-row: 3;
  font-size: 1.8em;
  grid-column: 1/9;
  display: flex;
}

#firstBlogTwo {
  grid-row: 4;
  font-size: 1.8em;
  display: flex;
  grid-column: 1/9;
}

#struggle {
  position: relative;
  bottom: 2vh;
  height: 400px;
  border-radius: 20px;
}

#firstBlogThree {
  grid-row: 7;
  grid-column: 1/8;
  font-size: 2em;
}

#firstBlogFour {
  grid-row: 8;
  font-size: 1.8em;
  grid-column: 1/8;
}

#firstBlogFive {
  grid-row: 11;
  font-size: 1.8em;
  grid-column: 1/8;
}

#firstBlogSix {
  grid-row: 12;
  grid-column: 1/8;
  font-size: 1.8em;
}

#succeed {
  height: 500px;
  position: relative;
  left: 55vh;
  top: 10vh;
}
